label {
  display: block;
  margin-bottom: 5px;
  font-size: 1rem;
}

input[type="email"],
input[type="password"],
input[type="date"],
input[type="text"] {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 7px;
  background-color: #f2f2f2;
}
