header {
    display: flex;
    padding: 10px 50px;
    align-items: center;
    justify-content: space-between;
}

.menu {
    display: none;
    width: 30px;
    cursor: pointer;
}

.nav-banner-container {
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.nav-logo {
    display: none;
}

.search-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-banner {
    width: 100px;
    cursor: pointer;
}

.search {
    height: 30px;
    width: 30%;
    padding: 0 5px;
    border: 1px solid #aaa;
    border-radius: 10px;
    background-image: url("../../assets/icons/lupa.png");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 98%;
}

.search::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}

ul {
    display: flex;
    gap: 25px;
    margin: 0; 
    padding: 0;
}

li {
    list-style: none;
    font-weight: 500;
    font-size: 1rem;
}

.nav-link {
    color: #000;
    text-decoration: none; 
}

.nav-link:hover {
    text-decoration: underline; 
}

.user-container {
    display: flex;
    align-items: center; 
    cursor: pointer;
}

.user-info {
    display: flex;
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 100%;
    background-color: #7fe613;
    align-items: center;
    justify-content: center;
}

.user-icon {
    width: 80%;
    cursor: pointer;
}

.profile-image-upload {
    margin-left: 10px; 
    cursor: pointer;
}

@media (max-width: 1024px) {
    .search {
        display: none; 
    }
}

@media (max-width: 640px) {
    header {
        justify-content: space-between;
        padding: 10px 30px;
    }
    .menu {
        display: block; 
    }
    nav {
        display: none; 
    }
}
