body,
html {
  height: 100%;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/img/BG-01.png");
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 200px;
  height: auto;
  z-index: 1;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90%;
  width: 550px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  padding: 20px;
}

.content {
  width: 100%;
}

.titlelogin {
  text-align: left;
  font-size: 18px;
  margin-bottom: 20px;
}

.inputsdata {
  margin-top: 20px;
}

.inputsdata div {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
  width: 90%;
  padding: 18px;
  border: 1px solid #ccc;
  border-radius: 7px;
  background-color: #f2f2f2;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.checkbox-container input {
  margin-right: 10px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

button {
  width: 100%;
  max-width: 250px;
  padding: 12px;
  background: linear-gradient(90deg, #5fb900 0%, #559a0d 100%);
  color: white;
  border: none;
  border-radius: 60px;
  cursor: pointer;
  font-size: 24px;
  margin-bottom: 10px;
}

button:hover {
  background-color: #45a049;
}

p {
  text-align: center;
  color: blue;
  cursor: pointer;
}

p:hover {
  text-decoration: underline;
}
