body,
html {
  height: 100%;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/img/BG-01.png");
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 200px;
  height: auto;
  z-index: 1;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 90%;
  width: 420px;
  height: auto;
  min-height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  padding: 20px;
}

.content {
  width: 100%;
}

.titlelogin {
  text-align: left;
  font-size: 16px;
  margin-bottom: 20px;
}

.inputsdata {
  margin-top: 20px;
}

.inputsdata div {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
  width: 90%;
  padding: 18px;
  border: 1px solid #ccc;
  border-radius: 7px;
  background-color: #f2f2f2;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.checkbox-container input {
  margin-right: 10px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

a {
  text-align: center;
  text-decoration: none;
  color: blue;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

.error-message {
  color: red;
  font-size: 0.75rem;
  font-style: italic;
  margin-top: 5px;
}
