@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

.error-message {
  color: red;
  font-size: 0.75rem;
  font-style: italic;
  margin-top: 5px;
  cursor: auto;
}
