.feed {
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}


@media (max-width: 1024px) {
  .feed{
    flex-direction: column;
    align-items: center;
    gap:20px;
  }
}